<h1>All Posts</h1>

<ol>
  <% @posts.each do |post| %>
      <li>
        <p><%= link_to post.title, post_path(post) %></p>
        <small><%= post.user.email.split('@')[0] %></small>
      </li>
  <% end %>
</ol>

<%= link_to 'New Post', new_post_path %>
